---
import '../CSS/Section.css';
import '../CSS/Global.css';
import '../CSS/Utility.css'
import '../CSS/Background.css';
---


<div class="container">
    <div class="card-border background-primary">
        <h2>Title</h2>
    </div>
</div>

<style>

.card-border{
    width: 3rem;
    height: 3rem;
}

</style>