---
import '../CSS/Background.css';
import '../CSS/Section.css';
import '../CSS/Global.css';
---

<div class="footer-border top-design-border background-primary">
    <div class="container">
        <div class="footer-content">
            <div class="brand-content">
                <img class="logo-image" src="/DesktopLogoS1.png" alt="Page logo" width="250" height="100">
                <a href="https://www.facebook.com/people/Clean-Living-With-Shannon/61562022045028/?_rdr"><img class="facebook-logo" src="/Facebook_Logo_Secondary.png" alt="Facebook logo" width="40" height="40"></a>
            </div>
            <div class="footer-info">
                <p>&copy; 2025 Vincent Pierce. Licensed to Clean Living with Shannon for unlimited use, modification, and<br>distribution. See Attributions page for more details.</p>
                <a class="attrib-link" href="/Attrib">Attributions</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Services">Services</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .footer-border{
        width: 100%;
        height: 16rem;
    }

    .footer-content{
        display: flex;
    }

    .brand-content{
        display: flex;
        flex-direction: column;
        transform: translateY(20%);
        row-gap: 3rem;
        margin-right: auto;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        transform: translateY(30%);
    }

    .attrib-link{
        margin-top: 2.14rem;
    }

    ul{
        display: flex;
        margin-top: 2.14rem;
        gap: 2.8rem;
    }

    a{
        color: var(--highlight-secondary);
        font-family: var(--font-secondary);
    }

    a:hover{
        text-decoration: underline;
    }

    p{
        color: var(--highlight-secondary);
        font-family: var(--font-secondary);
        font-size: var(--fnt-sz-16);
    }

    .facebook-logo{
        margin-left: 1rem;
    }
 
</style>