---
import "../CSS/global.css";

const {
	variant = "primary",
	text,
	href,
	textSize,
	paddingL = ".5rem",
	paddingR = ".5rem",
	paddingT = ".25rem",
	paddingB = ".25rem",
	br = "0rem",
	color = "var(--dark-accent)"
} = Astro.props as {
	variant?: "primary" | "secondary";
	text: string;
	href: string;
	textSize: string;
	paddingL: string;
	paddingR: string;
	paddingT: string;
	paddingB: string;
	br: string;
	color: string;
};

const buttonTypes = {
	primary: "primary-button",
	secondary: "secondary-button",
};
---

<a href={href} class={`link-btn ${buttonTypes[variant]}`}>
	<span class={`s-${buttonTypes[variant]}`}>{text}</span>
</a>


<style define:vars={{textSize, paddingL, paddingR, paddingT, paddingB, br, color}}>
	span{
		font-size: var(--textSize);
		user-select: none;
	}

	.s-primary-button{
		color: var(--highlight-secondary);
	}

	.link-btn {
		padding-left: var(--paddingL);
		padding-right: var(--paddingR);
		padding-top: var(--paddingT);
		padding-bottom: var(--paddingB);
		border-radius: var(--br);
		white-space: nowrap;
		color: var(--color);
	}

	.primary-button{
		border: none;
		background: var(--accent-primary);
		box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
		transition: all 0.2s ease-in-out;
	}

	.primary-button:hover{
		background: var(--accent-secondary);
		box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
		transition: all 0.2s ease-in-out;
	}

	.secondary-button {
		border: 0.25rem solid var(--color-primary);
		background-color: var(--color-secondary);
		text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
		transition: all 0.2s ease-in-out;
	}

	.secondary-button:hover {
		border: 0.25rem solid var(--accent-primary);
		box-shadow: inset 0px 0px 3px 1px var(--highlight-secondary);
		background-color: var(--color-primary);
		color: var(--color-secondary);
		text-shadow: none;
		transition: all 0.2s ease-in-out;
	}

	@media (max-width: 1100px){
		.primary-button{
			padding-top: calc(var(--paddingT) / 1.5);
			padding-bottom: calc(var(--paddingB) / 1.5);
			padding-right: calc(var(--paddingR));
			padding-left: calc(var(--paddingL) / 1.5);
		}
	}

	@media (max-width: 850px){
		.primary-button{
			padding-left: 8rem;
			padding-right: 8rem;
			padding-top: 1.1rem;
			padding-bottom: 1rem;
			box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
		}

		.s-primary-button{
			font-size: var(--fnt-sz-28);
		}
	}


	@media (max-width: 500px){
		.primary-button{
			padding-left: 4rem;
			padding-right: 4rem;
			padding-top: 1.1rem;
			padding-bottom: 1rem;
			box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
		}
	}

</style>	

<script define:vars={{colorValue : color}}>
	console.log(colorValue);
</script>