---
import enviroment from "../data/Enviroment.json";
import '../CSS/Global.css';

const rootPath = enviroment.PublicRoot;

interface ReviewModule {
    default: string;
    frontmatter: {
        source: string;
        content: string;
        author: string;
    }
}

//const reviews = [GWC, DBWR, RSLR, KWMC, DPR, WSR, DHP];
const reviews = import.meta.glob<ReviewModule>('../data/Markdown/TestimonialsAndReviews/*.md');
const loadedReviews = await Promise.all(
    Object.values(reviews).map((fn) => fn())
);

const reviewsArray = loadedReviews.map((mod) => mod.frontmatter);
---


<div class="review-container">
	<span class="review-intro">Don't just take our word for it.</span>
	<span class="review-description">Here is what other East Texans are saying about Clean Living with Shannon</span>
    <div class="testimonial-section">
        <button id="left-navigation">
            <img class="nav-image" src=`${rootPath}/NavIcon.png` alt="Left nav arrow"/>
        </button>
        <div class="testimonial-box">
            <span id="testimonial-source"></span>
            <blockquote id="testimonial-comment" cite="https://www.facebook.com/profile.php?id=61562022045028">
            </blockquote>
            <cite id="testimonial-author"><a id="author-tag"class="author-text" href="https://www.facebook.com/profile.php?id=61562022045028&sk=reviews" target="_blank"></a></cite>
        </div>
        <button id="right-navigation">
            <img class="nav-image" src=`${rootPath}/NavIcon.png` alt="Right nav arrow"/>
        </button>
        <div id="elipse-container">
            {reviewsArray.map((_, index) => (
                <div id={`elipse-${index}`} class="elipse"/>
            ))}
        </div>
    </div>
</div>


<style>
    .review-container{
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 4.5rem;
	}

	.review-intro{
		color: var(--highlight-primary);
		letter-spacing: var(--lt-spc-3);
		font-size: var(--fnt-sz-64);
		font-weight: light;
		text-transform: capitalize;
		font-family: var(--font-primary);
	}

	.review-description{
		color: var(--highlight-secondary);
		text-align: center;
		font-family: var(--font-primary);
		font-size: var(--fnt-sz-32);
		margin-top: 1rem;
	}

    .testimonial-section{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        column-gap: 1rem;
        row-gap: 2rem;
        justify-items: center;
        margin-top: 4.375rem;
    }

    .testimonial-box{
        display: flex;
        flex-direction: column;
        height: 25rem;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
        border: 2px solid var(--highlight-secondary);
        border-radius: 1rem;
        padding: 1rem;
    }

    .author-text{
        color: var(--highlight-secondary);
        font-size: var(--fnt-sz-24);
        font-family: var(--font-primary);
        font-weight: light;
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        transition: text-decoration-color .2s ease-in-out;
    }

    .author-text:hover{
        text-decoration-color: var(--highlight-secondary);
        transition: text-decoration .5s ease;
    }
 
    .elipse{
        width: 2rem;
        height: 2rem;
        border: 5px solid var(--highlight-secondary);
        border-radius: 50%;
        transition: background .3s ease-in-out;
    }

    .filled{
        background: var(--highlight-secondary);
        transition: background .3s ease-in-out;
    }

    .fade{
        opacity: 0;
        transition: opacity .3s ease;
    }

    #testimonial-source{
        font-size: var(--fnt-sz-32);
        font-family: var(--font-primary);
        font-weight: bold;
        text-transform: capitalize;
        color: var(--highlight-secondary);
        text-align: left;
    }

    #left-navigation,
    #right-navigation{
        width: fit-content;
        height: fit-content;
        align-self: center;
    }

    #left-navigation{
        grid-column: 1;
        grid-row: 1;
        scale: -1 1;
    }

    #right-navigation{
        grid-column: 3;
        grid-row: 1;
    }

    #elipse-container{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        gap: 1rem;
    }

    #testimonial-comment{
        color: var(--highlight-secondary);
        font-size: var(--fnt-sz-32);
        font-family: var(--font-primary);
        font-weight: 200;
        line-height: 3rem;
        margin: 3rem;
    }

    #testimonial-comment::before{
        content: open-quote;
        left: auto;
        top: auto;
        margin-top: 1rem;
        margin-left: -4rem; /*alinging left, so can't use margin right*/
    }

    #testimonial-comment::after{
        content: close-quote;
        right: auto;
        top: auto;
        margin-top: 5rem;
        margin-left: .5rem;
    }

    #testimonial-comment::after,
    #testimonial-comment::before
    {
        font-family: var(--font-primary);
        font-size: var(--fnt-sz-200);
        font-weight: bolder;
        position: absolute;
        display: inline-block;
    }

    #testimonial-author{
        margin-top: 5rem;
        position: absolute;
        left:auto;
        bottom: auto;
        translate: 30.5rem 15rem;
    }

    button{
        background: none;
        border: none;
        user-select: none;
    }

    button:hover{
        outline: 3px solid var(--dark-accent);
        cursor: pointer;
    }

    button:active{
        box-shadow: inset 0px 0px 10px black;
    }

    @media(max-width: 1600px)
    {
        .testimonial-box{
            height: 30rem;
        }

		.review-intro{
			font-size: var(--fnt-sz-56);
		}

		.review-description{
			font-size: var(--fnt-sz-28);
		}

        .nav-image{
           scale: 60%;
        }

        #testimonial-author{
            margin-top: 5rem;
            position: absolute;
            left:auto;
            bottom: auto;
            translate: 22.5rem 20rem;
        }
    }

    @media(max-width: 1400px)
    {
        .testimonial-section{
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
        }

        .testimonial-box{
            grid-column: 1 / span 2;
            grid-row: 1;
        }

        #elipse-container{
            grid-column: 1 / span 2;
            grid-row: 2;
        }

        #left-navigation{
            grid-row: 3;
            grid-column: 1;
            align-self: auto;
        }

        #right-navigation{
            grid-row: 3;
            grid-column: 2;
            align-self: auto;
        }

    }

    @media(max-width: 850px)
    {
        .review-intro{
			font-size: var(--fnt-sz-48);
		}

		.review-description{
			font-size: var(--fnt-sz-24);
		}

        .nav-image{
            max-width: 100%;
            max-height: 100%;
        }

        .testimonial-section{
            margin-top: 1rem;
        }

        .testimonial-box{
            height: 42.5rem;
        }

        .elipse{
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--highlight-secondary);
        }

        #testimonial-source{
            font-size: var(--fnt-sz-24);
            text-align: center;
        }

        #testimonial-comment{
            font-size: var(--fnt-sz-24);
            line-height: 2.25rem;
            margin: .5rem;
        }

        #left-navigation,
        #right-navigation{
            width: 5rem;
            height: 5rem;
            margin-top: -1rem;
            padding: 0;
        }

        #testimonial-comment::after,
        #testimonial-comment::before{
            font-size: var(--fnt-sz-48);
            margin: 0; /*reset the weird margins from above */
        }

        #testimonial-comment::before{
            margin-left: -1rem;
        }

        #testimonial-comment::after{
            margin-left: .2rem;
        }

        #testimonial-author{
            margin-top: 5rem;
            position: absolute;
            left:auto;
            bottom: auto;
            translate: 1.5rem 33rem;
        }
       
    }

    @media(max-width: 380px)
    {
        .review-intro{
			font-size: var(--fnt-sz-32);
		}

		.review-description{
			font-size: var(--fnt-sz-20);
		}
    }

</style>

<script type="module" define:vars={{reviewsArray, reviews}}>

    let currentIndex = 0;

    const testimonySource = document.getElementById("testimonial-source");
    const testimonyComment = document.getElementById("testimonial-comment");
    const testimonyAuthor = document.getElementById("author-tag");

    function ActivateFade(className){
        testimonySource.classList.remove(className);
        testimonyAuthor.classList.remove(className);
        testimonyComment.classList.remove(className);

        testimonySource.classList.add(className);
        testimonyComment.classList.add(className);
        testimonyAuthor.classList.add(className);
    }

    const updateReview = () => {
        const currentReview = reviewsArray[currentIndex];
    
        //set the element display
        testimonySource.textContent = currentReview.source + ":";
        testimonyComment.textContent = currentReview.content;
        testimonyAuthor.textContent = "- " + currentReview.author;

        //update the elipses
        for (let i = 0; i < reviewsArray.length; i++)
        {
            const elipse = document.getElementById("elipse-" + i);
            if(i === currentIndex) {
                elipse.classList.add("filled");
            } else {
                elipse.classList.remove("filled");
            }
        }
    };

    function SetupNavigation() {
        const leftButton = document.getElementById("left-navigation");
        const rightButton = document.getElementById("right-navigation");

        rightButton?.addEventListener("click", () => {
            currentIndex = (currentIndex + 1) % reviewsArray.length;
            updateReview();
        });

        leftButton?.addEventListener("click", () => {
            currentIndex = (currentIndex - 1 + reviewsArray.length) % reviewsArray.length;
            updateReview();
        });
    }

     //initialize the first render
    window.addEventListener("DOMContentLoaded", () => {
        SetupNavigation();
        updateReview();
    })

</script>