@import url('./FontFaces.css');

:root{
    --color-primary: #C03F3F;
    --color-secondary: #E9DCA7;
    --highlight-primary: #b1d1ee;
    --highlight-secondary:  #FFFFFF;
    --accent-primary: #3C4161;
    --accent-secondary: #1b1f3b;
    --dark-accent: #000000;
    --light-accent: #6b5d8f;

    --font-primary: 'Raleway', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-secondary: 'Lora', 'Georgia', 'Times New Roman', Times, serif;

    --fnt-sz-200: 12.5rem;
    --fnt-sz-100: 6.25rem;
    --fnt-sz-76: 4.75rem;
    --fnt-sz-64: 4rem;
    --fnt-sz-56: 3.5rem; /*used for laptops */
    --fnt-sz-48: 3rem;
    --fnt-sz-32: 2rem;
    --fnt-sz-28: 1.75rem; /*used for mobile / laptop / tablet*/
    --fnt-sz-24: 1.5rem; /*used for mobile*/
    --fnt-sz-20: 1.25rem; /*used for laptops*/
    --fnt-sz-16: 1rem;

    --lt-spc-3: -0.03em;
    --lt-spc-2: -0.02em;
    --lt-spc-1: -0.01em;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--accent-primary);
    
}

ol,
ul{
    list-style: none;
    user-select: none;
}

a{
    text-decoration: none;
}

strong{
    font-weight: normal;
}

