@import url('./Global.css');

.image-container {
    height: 25rem;
    width: 25rem;
    border: .313rem solid var(--highlight-primary);
    box-shadow: 0px 0px 0px 10px var(--highlight-primary) inset;
    border-radius: .313rem;
}

@media (max-width: 850px){
    .image-container{
        height: 15rem;
        width: 15rem;
    }
}