---
import Button from "../LinkButton.astro";
import '../../CSS/Section.css';
import '../../CSS/Global.css';
import '../../CSS/Background.css';
import '../../CSS/Utility.css';

import enviroment from '../../data/Enviroment.json';
const rootPath = enviroment.PublicRoot;
---


<div id="home-hero" class="hero hero-border top-design-border bottom-design-border">
        <div class="home-layout container">
            <div class="title-section">
                <h1>Clean living<br>with shannon</h1>
                <div class="center-text-wrap">
                    <div class="center-text-align">
                        <p>Cleaning excellence, delivered with precision! <br class="mob-brk">We offer our Clean Living services for homes,<br id="lap-brk" class="mob-brk"> Airbnbs, and businesses in the <strong id="location-emphasis">East Texas area.</strong></p>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <Button href={`${rootPath}/Contact`} text="Get In Touch!" textSize="var(--fnt-sz-48)" paddingT="3rem"  paddingB="2rem" paddingL="13rem" paddingR="13rem" br="1rem"/>
            </div>
            <div class="showcase-section">
                <span class="type-text">Before:</span>
                <div class="album-container">
                    <div class="image-container home-hero-image left-image">
                        <img class="page-image" src={`${rootPath}/Photos/AfterOven.png`} alt="Clean stove image">
                    </div>
                    <div class="image-container home-hero-image center-image">
                        <img class="page-image" src={`${rootPath}/Photos/BeforeOven.png`} alt="Dirty stove image" style="border-radius: 1.8rem">
                    </div>
                    <div class="image-container home-hero-image right-image">
                      <img class="page-image" src={`${rootPath}/Photos/AfterOven.png`}
                        alt="Clean stove image">
                    </div>
                </div>
            </div>
        </div>
</div>




<style>
    .home-layout{
        display: grid;
        height: 100%;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 0rem;
        column-gap: 5rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    .title-section{
        margin-top: 5rem;
        margin-left: 3rem;
        grid-row: 1;
        grid-column: 1;
    }

    .showcase-section{
        height: fit-content;
        grid-column: 2;
        grid-row: 1 / span 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }
    
    .button-container{
        grid-row: 2;
        grid-column: 1;
        width: fit-content;
        height: fit-content;
        min-width: 1rem;
        margin-top: 2rem;
        margin-left: 3rem;
        margin-bottom: 7rem;
    }

    .type-text{
        color: var(--highlight-secondary);
        font-size: 3rem;
        font-family: 'Verdana';
        text-transform: uppercase;
        font-weight: bold;
        user-select: none;
        margin-top: 3rem;
        display: block;
        color: rgba(255, 255, 255, 1);
        animation: fade-color;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .album-container{
        height: auto;
        width: auto;
        margin-top: 2.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 7rem;
        display: flex;
        justify-content: center;
    }

    .home-hero-image{
        width: 20rem;
        height: 30rem;
        min-width: 18rem;
        min-height: 30rem;
        border-radius: 1.8rem;
        filter: drop-shadow(-15px 15px 3px rgba(0, 0, 0, .3));
    }

    .left-image{
        z-index: 2;
        rotate: -11deg;
        translate: 12.5rem 0rem;
    }

    .center-image{
        z-index: 3;
        min-width: 20rem;
    }

    .right-image{
        z-index: 1;
        rotate: 12deg;
        translate: -14rem 1rem;
    }

    h1{
        font-family: var(--font-primary);
        font-size: var(--fnt-sz-100);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: -0.03em;
        color: var(--highlight-primary);
    }

    p{
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        color: var(--highlight-secondary);
        font-family: var(--font-primary);
        font-size: var(--fnt-sz-32);
        font-weight: 500;
    }

    #location-emphasis{
        font-weight: 500;
    }

    /* laptops */
    @media (max-width: 1600px) and (min-width: 851px) {

        .title-section{
            margin-top: 3rem;
        }

        .button-container{
            margin-top: 0rem;
            margin-bottom: 5rem;
        }

        .mob-brk{
            display: none;
        }

        .home-hero-image{
            height: 20rem;
            width: 13rem;
            min-width: 13rem;
            min-height: 20rem;
        }

        .left-image{
            rotate: -12deg;
            translate: 8rem 0rem;
        }

        .right-image{
            rotate: 8deg;
            translate: -9rem .5rem;
        }

        h1{
            font-size: var(--fnt-sz-56);
        }

        p{
            font-size: var(--fnt-sz-20);
            margin-bottom: none;
            margin-top: 1rem;
        }
    }

    /*tablet / large phone*/
    @media (max-width: 850px){

        .home-layout{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-row: 3;
            margin-left: 0rem;
            margin-top: 3rem;
            margin-bottom: 5rem;
            width: 100%;
        }

        .title-section,
        .button-container,
        .showcase-section{
            grid-column: 1;
        }

        .title-section{
            grid-row: 1;
            margin-left: 1rem;
        }

        .showcase-section{
            grid-row: 2;
            height: fit-content;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin-bottom: 0;
        }

        .album-container{
            margin-bottom: 0rem;
        }

        .home-hero-image{
            height: 17rem;
            width: 12rem;
            min-width: 12rem;
            min-height: 17rem;
        }

        .type-text{
            font-size: 2rem;
            margin-top: 1rem;
        }

        .mob-brk{
            display: none;
        }

        .left-image{
            rotate: -10deg;
            translate: 9rem 0rem;
        }

        .right-image{
            rotate: 9deg;
            translate: -10rem .5rem;
        }

        h1{
            font-size: var(--fnt-sz-48);
            text-align: center;
        }

        p{
            font-size: var(--fnt-sz-24);
            margin-bottom: 0;
        }
    }

    /* small phones */
    @media (max-width: 380px)
    {
        p{
            font-size: var(--fnt-sz-16);
            margin-left: .5rem;
        }

        .home-hero-image{
            height: 13rem;
            width: 8rem;
            min-width: 8rem;
            min-height: 13rem;
        }

        .left-image{
            rotate: -10deg;
            translate: 6rem 0rem;
        }

        .right-image{
            rotate: 9deg;
            translate: -7rem .5rem;
        }
    }

    @keyframes fade-color{
        0% {color: rgba(255, 255, 255, 0);}
        80% {color: rgba(255, 255, 255, 1);}
        100% {color: rgba(255, 255, 255, 0);}
    }

</style>