---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/sections/PageHero.astro";
import BodySection from "../components/sections/BodySection.astro";
import * as ContactMeta from "../data/MarkDown/Contact.md";
import Card from "../components/Card.astro";
import "../CSS/Global.css";

const rootPath = import.meta.env.BASE_URL;
---

<script type="module" src={`${rootPath}Scripts/Global.js`}></script>

<PageLayout
	title={ContactMeta.frontmatter.title}
	description={ContactMeta.frontmatter.description}
	linkMask={[false, false, false, true]}
>
	<Hero heading="Contact Me" description="get in touch for cleaning service" />
	<BodySection class="body-section" CallToAction={false}>
		<Card title="My contact info">
			<div class="info-wrapper fade-in-page-effect">
				<div class="info-line">
					<span>Email:</span>
					<span class="details">shannonandroger<br class="lb" />@yahoo.com</span
					>
				</div>
				<div class="info-line">
					<span>Phone:</span>
					<span class="details">(903) 952-8625</span>
				</div>
				<div class="info-line">
					<span>Facebook:</span>
					<span class="details"
						><strong>Clean Living with<br class="lb" /> Shannon</strong></span
					>
				</div>
			</div>
			<div class="inquiry-container">
				<span class="inquiry-note"
					>Serious inquiries<br class="lb" /> only.</span
				>
			</div>
		</Card>
		<Card class="donation-card" title="donations">
			<div class="info-wrapper fade-in-page-effect">
				<div class="info-line">
					<span>Cashapp:</span>
					<span class="details">$ShannonNRoger</span>
				</div>
				<div class="info-line">
					<span>Venmo:</span>
					<span class="details">ShannonNRoger-Mallet</span>
				</div>
			</div>
			<div class="inquiry-container">
				<span class="inquiry-note"
					>Donations not required,<br class="lb" /> but are greatly<br
						class="lb"
					/> appreciated!</span
				>
			</div>
		</Card>
	</BodySection>
</PageLayout>

<style>
	.info-line {
		display: flex;
		justify-content: flex-start;
		margin-top: 3.75rem;
	}

	.inquiry-container {
		text-align: center;
		margin-top: 3rem;
	}

	.inquiry-note {
		color: var(--highlight-primary);
		font-size: var(--fnt-sz-48);
		font-family: var(--font-secondary);
		letter-spacing: var(--lt-spc-3);
		text-align: center;
		text-decoration: underline;
	}

	.lb {
		display: none;
	}

	span {
		font-family: var(--font-primary);
		font-weight: bold;
		font-size: var(--fnt-sz-64);
		letter-spacing: var(--lt-spc-3);
		color: var(--highlight-secondary);
		margin-right: 5rem;
	}

	.details {
		font-family: var(--font-secondary);
		line-break: anywhere;
		font-weight: 400;
	}

	@media (max-width: 1600px) {
		span {
			font-size: var(--fnt-sz-32);
		}

		.inquiry-note {
			font-size: var(--fnt-sz-28);
		}
	}

	@media (max-width: 850px) {
		.info-line {
			flex-direction: column;
			align-content: center;
			text-align: center;
		}

		.lb {
			display: block;
		}

		.inquiry-note {
			font-size: var(--fnt-sz-24);
		}

		.details {
			line-break: normal;
		}

		span {
			font-size: var(--fnt-sz-28);
			margin-right: 0;
		}
	}

	@media (max-width: 380px) {
		span {
			font-size: var(--fnt-sz-20);
		}

		.inquiry-note {
			font-size: var(--fnt-sz-16);
		}
	}
</style>
